<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<% if(locals.usuario) { %> 
		<%- include('./partials/header')%>
	<% } else { %> 
		<%- include('./partials/headerLogueado') %> 
	<% } %> 
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= rescatado.nombre %> </h2> 
			<p class="product-detail-description">
				<a href="/product/edit">Editar</a>
				<form action="/product/destroy" method="POST">
					<input type="hidden" name="id" value="<%= rescatado.id %> ">				
					<button type="submit" class="btn btn-outline-light"> <i class="fas fa-trash" style="color: #B99871;"></i></button>
				</form>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= rescatado.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= rescatado.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<%  for(var i=0; i<comentarios.length; i++){ let usuario = comentarios[i].usuarios %> 
						<article>
							<img src="/images/users/<%= usuario.imagen %>" alt="" class="imgUsuario">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/<%= usuario.id %>"> <%= usuario.nombre + ' '+ usuario.apellido%> </a> </strong>
								<%= comentarios[i].texto %>
								</p>
							</div>
						</article>
						<% } %>
					</section>
					<form class="form" action="" method="POST">

						<input class="form-input" type="text" placeholder="Agregar comentario" name="texto">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->

</body>	
</html>