<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<div class="container">	
		<div class="formulario2">	
			<div class="titulo">
				<h2 class="products-title">Editar Publicacion</h2>
			</div>
			<div>
				<form action="/product/edit" method="POST" class="col-6" enctype="multipart/form-data">
						
					<div class="filas">
						<div class="fila2">
							<label>
								Nombre <span class="req">*</span>
							</label>
							<input type="text" name="nombre" value="<%= producto.nombre %>"/>
						</div>	
						<div class="fila2">
							<label>
								Fecha de nacimiento <span class="req">*</span>
							</label>
							<input type="date" name="rescate" value="<%= producto.fechaRescate %>" />
						</div>
						<div class="fila2">
							<label>
								Imagen <span class="req">*</span>
							</label>
							<input type="file" name="imagen" />
						</div>
                        <input type="hidden"  name="oldImagen"  value="<%=producto.imagen%>">
         
						<div class="fila3">
							<label>
								Descripcion <span class="req">*</span>								
							</label>
							<input type="text" name="descripcion" value="<%= producto.descripcion%>"/>
						</div>
					</div>
					<input type="hidden" name="id" value="<%= producto.id %> ">
					<input type="hidden" name="usuarioId" value="<%= locals.usuario.id %>">
                    <p>
					<button type="submit" class="button button-block"> Publicar </button>	
					</p>
				</form>						
			</div>	
		</div>
		
	</div>		
	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>